@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter";
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f0f0eb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.left {
    flex: 1;
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.left img.logo {
    width: 180px;
    margin-bottom: 30px;
}

.left h1 {
    color: #7d0f0f;
    font-size: 28px;
    margin: 10px 0 5px;
}

.left p {
    font-size: 14px;
    color: #7d0f0f;
    line-height: 1.5;
}

.divider {
    margin: 30px auto 10px;
    width: 60%;
    height: 1px;
    background-color: #7d0f0f;
}

.seal {
    width: 30px;
    margin: 10px auto 0;
}

.right {
    flex: 1;
    background-color: #570000;
    color: white;
    padding: 60px 40px;
}

.right h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.right p {
    font-size: 16px;
    margin-bottom: 30px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}


.button {
    background-color: white;
    width: 40rem;
    padding: 10px;
    color: #570000;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #ddd;
}