@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter";
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f0f0eb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.left,
.right {
    flex: 1;
    height: 100%;
    width: 50%;
}

.left {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left img {
    width: 400px;
}

.right {
    background-color: #570000;
    color: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
}

.right p {
    font-size: 16px;
    margin-bottom: 30px;
}

form {
    width: 100%;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

input[type="text"] {
    margin-bottom: 20px;
}

input[type="password"] {
    margin-bottom: 10px;
}

.error {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.error p{
    color: #ffb3b3;
    font-size: 12px;
    margin: 0;
    font-style: italic;
}

.button {
    background-color: white;
    width: 100%;
    padding: 10px;
    color: #570000;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: #ddd;
}